* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  color: #1ABC9C;
  transition: .4s;
  position: relative;
}

body, input, textarea {
    font-family: 'Inter', sans-serif;
}

input, textarea {
    background-color: transparent;
    border: 1px solid #1ABC9C;
    border-radius: 5px;
    margin: 12px 0;
    padding: 12px;
    transition: .4s;
    letter-spacing: 1px;
}

input:focus, textarea:focus {
    border: 1px solid #1ABC9C;
    outline: none;
}

input {
    font-weight: 700;
    font-size: 18px;
}

textarea {
    font-size: 14px;
    font-weight: 400;
}

input::placeholder, textarea::placeholder {
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: 700;
}

.note-app__header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.note-app__header h1 {
    font-size: 38px;
    margin-left: 10px;
}

.note-app__header img {
    height: 48px;
    width: 48px;
    transition: .4s;
}

.note-app__body {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    max-width: 1180px;
    margin: 0 auto 50px;
    min-height: 1000px;
}

.note-input {
    width: 50%;
    padding: 50px 50px 0;
}

.note-input button {
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    font-family: Inter, sans-serif;
    padding: 12px 8px;
    border: none;
    transition: .4s;
}

.note-btn__submit {
  width: 75%;
  background-color: #1ABC9C;
  color: #fff;
}

.note-btn-input__container {
    display: flex;
    gap: 10px;
    flex-direction: row;
    margin-top: 24px;
}

.note-btn__reset {
  width: 25%;
  background-color: #efefef;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px
}

.note-btn__reset:hover {
    color: #fff;
}

.note-input button:hover {
    background-color: #0f7460;
}

.note-title__error--message, .note-body__error--message {
    font-weight: 700;
    color: red;
    margin-bottom: 10px;
}

.note-input__body {
    min-height: 175px;
}

.notes-list__body {
    width: 50%;
    padding: 50px 50px 50px 0;
}

.note--search {
    width: 100%;
    margin-top: 28px;
}

.note--search input {
    width: 100%;
}

.note-input__title, .note-input__body {
    width: 100%;
}

.btn--scroll-top {
    bottom: 100px;
    left: 50px;
    opacity: 0
}

.btn--scroll-top.visible {
    opacity: 1;
}

.btn--theme {
    bottom: 30px;
    left: 50px;
}

.btn--theme, .btn--scroll-top {
    min-width: 44px;
    min-height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    color: #1ABC9C;
    cursor: pointer;
    font-size: 2em;
    padding: 12px;
    border-radius: 50%;
    border: 2px solid #1ABC9C;
    position: fixed;
    
    transition: .4s;
}

.notes--btn__tab {
    margin-top: 12px;
    border-bottom: 1px solid #1ABC9C;
    width: 100%;
}

.notes--btn__tab button {
    padding: 12px;
    font-size: 16px;
    width: 50%;
    /* border-radius: 5px; */
    border: none;
    font-weight: 700;
    min-height: 44px;
    min-width: 150px;
    cursor: pointer;
}

.btn--tab.tab--active {
    background-color: #1ABC9C;
    color: #fff;
}

.notes-list__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-top: 24px;
    grid-template-rows: minmax(min-content,max-content)
}

.note--item {
    padding: 12px;
    /* border: 1px solid #1ABC9C; */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.note-item__content {
    flex: 1;
}

.note-item__body {
    color: #000;
    font-size: 14px;
}

.note-item__date {
    font-size: 12px;
    color: #aaa;
    margin-top: 5px;
    margin-bottom: 10px;
}

.note-item__title {
    margin-bottom: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.note-item__action {
  display: flex;
  margin-top: 8px;
  justify-content: flex-end;
}

.note-item__action button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    /* min-width: 44px;
    min-height: 44px; */
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #1ABC9C;
    transition: .4s;
}

.note-item__action button:hover {
    background-color: #1ABC9C;
    color: #fff;
}

.note-app__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: #1ABC9C;
    color: #fff;
    font-weight: 700;
    transition: .4s;
}

.note-app__empty-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-column: span 2;
    min-height: 300px;
}

.note-app__empty-list-icon {
    font-size: 3em;
}

.note-app__empty-list h2 {
    font-size: 32px;
    margin-top: 15px;
}
